@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --text-color-light: rgba(0, 0, 0, 0.87);
  --text-color-dark: rgba(255, 255, 255, 0.87);
  --bg-color-light: #FFFFFF;
  --bg-color-dark: #3730A3;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: var(--text-color-light);
    --bg-color: var(--bg-color-light);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--text-color-dark);
    --bg-color: var(--bg-color-dark);
  }
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}